* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    margin-left: 36px;
    cursor: pointer;
    letter-spacing: 0.875px;
    color: #17233D;
}

button {
    background: #0035e2;
    border: 1px solid #002dc0;
    border-radius: 6px;
    width: 130px;
    height: 65px;
    margin-left: 60px;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    cursor: pointer;
    color: #FFFFFF;
}

section {
    display: inline-block;
    margin-left: 100px;
}

.img-logo {
    margin: 150px 0 0 121px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    width: 500px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    width: 493px;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
    color: #4B505A;
}

#learn {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    color: #0035e2;
}

